*{
   padding: 0;
   margin: 0;
   font-family: "Exo 2", sans-serif;
}

body{
   background-image: url(https://media.hswstatic.com/eyJidWNrZXQiOiJjb250ZW50Lmhzd3N0YXRpYy5jb20iLCJrZXkiOiJnaWZcL2dldHR5aW1hZ2VzLTU0MTM4NTg1Ni5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOiIxMjAwIn19fQ==);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 100dvh;
   color:white;
}